body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #000000;
    color: rgb(255, 238, 5);
    padding: 10px 0;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    font-size: 1.5rem;
    color: rgb(255, 238, 5);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color:white
}

/* Main content styles */
main {
    padding: 20px;
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
}


form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

textarea{
    resize: vertical;
}